@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 2px;
    margin: 5px;
    box-sizing: border-box;
}
body{
    /* background-color: hsl(235, 18%, 26%) ; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-family: "Pacifico", cursive;
    font-weight: 400,700;
    
}

.container {
    width: 800px;
    height: 500px;
    background-color:  hsl(235, 18%, 26%) ;
    padding: 50px;
}

#main
{
    display:flex;
    /* max-width: 50vw; */
    background-color: hsl(0, 0%, 100%) ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "Pacifico", cursive;
    position: relative;
    top: 20px;
    left: 85px;
    width: 538px;
    
}


.child1{
    padding:0;
    font-family:Roboto;
    
}
.child1>button{
   background-color: hsl(234, 29%, 20%);
   color:white ;
}
.child2 {
    background-image: url("illustration-sign-up-mobile.svg");
    background-size: cover;
    width: 344px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
li {
    list-style-image: url(icon-list.svg);
    width: 16;
    font-size: 11px;
}
p {
    font-size: 11px;
}