body{
    height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:lightgreen;

}
#main{
height: 50vh;
width: 50vw;
border: 1px solid green;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
}
.child{
    border:1px solid red;
}
.child1{
    grid-row: 1/4;
    background-image: url("R.jpg");
    background-position:center ;
    background-size: cover;

}
.child2{
    grid-column:2/4;
    background-image: url("R5.jpg");
    background-position:center ;
    background-size: cover;

    
}
.child3
{ 
    background-image: url("R9.jpg");
    background-position:center ;
    background-size: cover;


}
.child4{
    background-image: url("R8.jpg");
    background-position:center ;
    background-size: cover;

   
}
.child5
{ 
    background-image: url("R6.jpg");
    background-position:center ;
    background-size: cover;
   

}

.child6{
    grid-row: 2/4;
    grid-column: 4/5;
    background-image: url("R2.jpg");
    background-position: center;
    background-size: cover;
}
.child7{
    background-image: url("R7.jpg");
    background-position: center;
    background-size: cover;
}
    


.child8{
    background-image: url("R11.jpg");
    background-position: center;
    background-size: cover;
}

