.box{
    height: 100px;
    width: 100px;
    background-color: skyblue;
    margin: 10px;
}
/*.box1>div>p{
    color: red;
    font-size: 40px;
}*/
.box1 p{
    color: blue;
    font-size: 40px;
}
/*.box2+p{
    color: orange;
    font-size: 40px;
}*/
/*.box1+p{
    color: orangered;
    font-size: 40px;

}*/
/*div+p::first-letter{
    color: red;
}
div+p::first-line{
    color:blue;
}
div+p::before{
    content:"\201c";
    font-size: 90px;
    color:skyblue;
    
}
div+p::after{
    content:"\201d";
    font-size: 50px;
    color:blueviolet;
}
a:link{
    color: greenyellow;
}
a:visited{
    color:pink;
}*/
input:required
{
    border:1px solid red;
}
input:optional{
    border: 1px solid blueviolet;
}
#one {
    border: 2px solid red;
}
/*input:disabled{
    border:1px solid blue ;
}
input:enabled{
    border: 1px solid palevioletred;
}*/
input:empty{
    background-color: aqua;
}
input:focus{
    outline:5px solid purple;
}

